
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(225, 225, 225);
    padding: 20px 0 !important;

}
li {
    color: white;
    font-size: 20px;
    cursor: pointer;
}